/** {
	border: 1px solid green;
}*/

html {
	height: 100%;
	background-image: url("../images/mint-herringbone-fabric_thumb.jpg");
	background-repeat: repeat;
	padding: 7em;
}

body {
	height: 100%;
}

header {
	font-family: 'Meddon', 'Lucida Calligraphy', cursive;
	font-size: 2em;
	background-color: white;
	text-align: center;
	padding: .5em;
	/*width: 80%;
	height: 10%;*/
}

header a {
	text-decoration: none;
	color: rgb(0,0,0);
}

header a:hover {
	text-decoration: none;
	color: rgb(0,0,0);
}

.header {
	line-height: 10%;
	vertical-align: middle;
}

.navbar {
	font-family: 'Megrim', cursive;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	/*width: 10%;*/
	/*height: 100%;*/
	/*position: fixed;*/
	/*left: 0px;
	top: 100px;*/
}

	.navbar a {
		color: rgb(0,0,0);
	}

/*.navbar ul {
	list-style-type: none;
	padding: 5px;
	margin: 0px;
}*/

/*ng-view {
	height: 100%;
	width: 100%;
}*/

.main-container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: white;
	/*padding: 60px;*/
	text-align: center;
	overflow: auto;
}

	.mini-container {
		width: 10em;
		height: 13em;
		background-color: lightblue;
		display: inline-block;
		margin: 10px;
		text-align: center;
	}

	.img-responsive {
		height: 10em;
	}
